body{
	
	font-family: Didact Gothic;
	background: white;
	margin: 0px;
	background: #F1F1F1;
}
#head{
	background-image: url(../../img/нииис.png);
	background-repeat: no-repeat;
	background-color: white;
	background-size: 10%;
	width: 100%;
	height: 5%;
	border-bottom: solid 1px #FAFAFA;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 

}
#user_status{
	display: table;
	float: right;
	padding-right: 2%;
	margin-right: 5px;
	text-align: right;
}
#left_div{
	margin: 0px;
	float: left;
	display: inline;
	padding: 15px;
	width: 15%; 
	 

}

#main{
	
	width: 80%;
	float: right;
	font-size: 18;
	padding: 15px;
	
}
.edit_div{
	display: table;
	margin: 15px;	
}
a:visited { color: black; }
a:hover { color: red; }

#user_status_error{
	font-size: 20;
	text-align: center;
	color: white;
	padding: 15px;
	box-shadow: 0 0 7px rgba(0,0,0,0.5); 
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	border: 1px red solid;
	background: #E65656;
	width: 500px;
	height: 300px;
}
.submit_button{
	margin-top: 50px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5); 
	color: white;
	font-size: 20;
	height: 35px;
    background: #4090db;
    border: none;
    border-radius: 3px;
}
.submit_button:hover{
	cursor: pointer;
 	background: black;
 	color: white;
}


button#submit_button{
	margin-top: 30%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	box-shadow: 0 0 5px rgba(0,0,0,0.5); 
	color: white;
	font-size: 24;
	width: 75%;
	height: 45px;
    background: #4090db;
    border: none;
    border-radius: 3px;
}
button:active {
    background: #4169E1;
    box-shadow: inset 0 0 20px #5BA0E1; 
}

li.edit_list{
	list-style-type: none; /* Убираем маркеры */
	padding-left: 3px;
	line-height: 1.5;
	cursor: pointer;
}
li.edit_list:hover{
	background: black;
	color: white;

}
th.th_head{
	padding-left: 5px;
	padding-right: 5px;
	background: black;
	color: white;	
}
table.face{
	text-align: center;	
}
#form_tests{
	display: inline;
}
.backButoon_UC{
	display: table;
	margin-right: 15px;
	display: inline;
	box-shadow: 0 0 5px rgba(0,0,0,0.5); 
	color: white;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	background: white;
	cursor: pointer;
	background: #4090db;
    border: none;
    border-radius: 3px;
}
#back{
	margin: 0px;
	display: inline;
	box-shadow: 0 0 5px rgba(0,0,0,0.5); 
	color: white;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	background: #4090db;
    border: none;
    border-radius: 3px;
}
.backButoon_UC:hover{
	color: white;
	background: black;

}
#back:hover{
	color: white;
	background: black;

}
input.input_form{
	font-size: 18;
}
.quest_form{
	padding-bottom: 20px;
	border-bottom: solid 1px black; 
}
#quantity_answers{
	width: 50px;
}
.input_num{
	font-size: 18;
	width: 50px;
}
.closeX{
	border: 1px solid black;
	border-radius:50px;
 	-moz-border-radius:50px;
 	-webkit-border-radius:50px;
 	-khtml-border-radius:50px;
	float:right;
	text-align: center;
	height: 25px;
	width: 25px;
	color: black;
	background: white;
	position: inherit; /* Абсолютное позиционирование */
	cursor: pointer;
	margin-right: 125px;
}
	
.closeX:hover{
	background: red;
	color: white;
}
#button2{

	font-size: 13;
	display: inline;
	box-shadow: 0 0 5px rgba(0,0,0,0.5); 
	color: white;
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	background: black;
    border: none;
    border-radius: 3px;

}
select{
	height: 27px;
	width: 250px;
}

#delet_button{
	box-shadow: 0 0 5px rgba(0,0,0,0.5); 
	color: white;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	background: #4090db;
}
#delet_button:hover{
	background: black;

}
#low_main{
	display: table;
	margin: 15px;	
	
}
.name_list{
	width: inherit;
	line-height: 1.5;
	cursor: pointer;
}
.name_list:hover{
	text-decoration: underline;

}

#gg{
	margin-top: 50px;
}
#error_space{
	height: 0;
	width: 100%;
	background: rgb(230,86,86);
	margin-bottom: 5px;
	text-align: center;
	color: white;
	font-size: 25;
	border-radius: 1.5px;
}
.addButton{
	margin: 0px;
	display: inline;
	box-shadow: 0 0 5px rgba(0,0,0,0.5); 
	color: white;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	background: #4090db;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 30px;
    margin-top: 15px;
}
.addButton:hover{
	color: white;
	background: black;

}
.quest_div{
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}
#edit_button{
	padding-right: 3px;
	display: table;
    float: right;
	height: 100%;
}